<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="csstemp/base.css">
    <link rel="stylesheet" href="csstemp/code.css">
    <link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body >

    <%- include('minitemplates/navbar.ejs') %> 

    <h2 >PROJECT VIDEO</h2>
    <div class="d-flex justify-content-center">
        <iframe width="1060" height="615" src="https://www.youtube.com/embed/0V6x6ihUdJI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- <iframe width="1600" height="900" src="https://www.youtube.com/embed/O_WbmIIy4vk"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   -->
    </div>

    <div class="code">
        <h2 class="mb-5 pb-5" id="codehead">OUR CODE</h2>
        <h3 class="px-5 mt-0 divider"><b> Setting Up Environment </b></h3>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/Code_Pics/Screenshot_2022-11-24_at_10.44.32_PM.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669301682355" alt="">
        </div>
        <h3 class="px-5 mt-0 divider"><b> Cleaning Data </b></h3>
        <h4 class="sub">Getting the values of net crop production</h4>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/Code_Pics/Screenshot_2022-11-24_at_11.01.15_PM.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669302096470" alt="">
            
        </div>
        <p>
            Our data for crop production was obtained through 2 different csv files, to make the process easier and simpler we created a function to help give us the required values. If you are keen to go through the entire csv data, feel free to check our <a href="#resource" style="color:blue; font-size:inherit">Files and Documentation</a>.
        </p>
        <h3 class="px-5 mt-0 divider"><b> Graphs</b></h3>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/bf432086-43b6-4b27-8e18-f22e9a69d1d7.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1669338698003" alt="">
        </div>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/ccabd165-6238-492d-925a-9e5288157aa2.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1669338698236    " alt="">
        </div>
        <div class="container text-center">
            <div class="row">
              <div class="col-xl-6">
                <div class='codesnippet' >
                    <img src="https://ik.imagekit.io/xpxacmqcd/2022-11-25_09.04.17.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669338306067" alt="">
                </div>
              </div>
              <div class="col-xl-6">
                <div class='codesnippet' >
                    <img src="https://ik.imagekit.io/xpxacmqcd/2022-11-25_09.04.08.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669338306059" alt="">
                </div>
                
              </div>
            </div>
          </div>
        <h3 class="px-5 mt-0 divider"><b> Functions</b></h3>
        <h4 class="sub">Normalize-z</h4>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/Code_Pics/Screenshot_2022-11-24_at_10.44.43_PM.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669301680237" alt="">
        </div>
        <p>We normalizing every value in a dataset such that the mean of all of the values is 0 (close to) and the standard deviation is 1 (close to). </p>
        <h4 class="sub">Prepare Features and Target</h4>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/Code_Pics/Screenshot_2022-11-24_at_10.45.08_PM.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669301683353" alt="">
        </div>
        <p>The prepare_feature and prepare_target functions are used to conver the data of type DataFrame to that of type narray. These functions enable us to use our data in array operations which make the calculations much easier than if we iterate over each indivdual element.</p>
        <h4 class="sub">Prediction Function</h4>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/Code_Pics/Screenshot_2022-11-24_at_10.45.24_PM.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669301680793" alt="">
        </div>
        <p>The predict function is used to return a column vector. The prdict function calls upon the calc_linear function which is a function that performs matrix multiplication</p>
        <h4 class="sub">Analyse Functions</h4>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/Code_Pics/Screenshot_2022-11-24_at_10.45.51_PM.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669301683003" alt="">
        </div>
        <p>The r2_square and mean_squared_error functions are purely to help us analyse our results and check whether the value we are predicting is withing reasonaable range of our data that has been previously trained. </p>
        <h4 class="sub">Cost Function and Gradient Descent</h4>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/Code_Pics/Screenshot_2022-11-24_at_10.46.07_PM.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669301680908" alt="">
        </div>
        <p>A cost function is a measure of how wrong the model is in terms of its ability to estimate the relationship between X and y. This is typically expressed as a difference or distance between the predicted value and the actual value. Gradient descent is a iterative optimization algorithm for finding a local minimum of a differentiable function. </p>
        
        
        <h3 class="px-5 mt-0 divider"><b> Prediction</b></h3>
        <h4 class="sub">China</h4>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/Code_Pics/Screenshot_2022-11-24_at_10.46.36_PM.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669301682584" alt="">
        </div>
        <h4 class="sub">India</h4>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/Code_Pics/Screenshot_2022-11-24_at_10.46.49_PM.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669301680813" alt="">
        </div>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/Code_Pics/Screenshot_2022-11-24_at_10.46.59_PM.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669301679857" alt="">
        </div>

        <p>Breakdown of the function into India and China as it helps to simplify the prediction by finding individual quantities. The model is using a test size of 40% and a training size of 60%, initially our test size was 30% and our training size was 70% but after a few discussions we drew to the conclussion that since our model has a few years of records and quiet a few parameters it would be best to increase our test population so that we can see as many potential values in our predictions to compare with the actual values</p>

        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/Code_Pics/Screenshot_2022-11-24_at_10.47.10_PM.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669301679901" alt="">
        </div>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/Code_Pics/Screenshot_2022-11-24_at_10.47.17_PM.png?ik-sdk-version=javascript-1.4.3&updatedAt=1669301683984" alt="">
        </div>
        <p>
            The lower the value of mean squared variables, the better suited our model with our given parameters. Since our graph of net production with time is a linear graph we expected that our r2_square function would return a value close to 1 whereas the mean_squared_error give a value closer to 0.
        </p>

        <h3 class="px-5 mt-0 divider"><b> Testing</b></h3>

        <h4 class="sub">Improvements</h4>
        <p>
            <b>Improvement 1</b>: To better our model's performance , we can split the dataset more evenly to reduce overfitting of the data values which occures when our dataset is limited . <br>
            <b>Improvement 2</b>: After various samples of testing our data with different alpha and iteration values to test mean squared value and R²
        </p>


        <h4 class="sub">Alpha: 0.01   <br>     Iterations:1500 <br>Test Size:0.4</h4>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/f1?ik-sdk-version=javascript-1.4.3&updatedAt=1669345199967" alt="">
        </div>
        <div class="container text-center">
            <div class="row">
              <div class="col-xl-6">
                <div class='codesnippet' >
                    <img src="https://ik.imagekit.io/xpxacmqcd/f13?ik-sdk-version=javascript-1.4.3&updatedAt=1669345191804" alt="">
                </div>
              </div>
              <div class="col-xl-6">
                <div class='codesnippet' >
                    <img src="https://ik.imagekit.io/xpxacmqcd/f12?ik-sdk-version=javascript-1.4.3&updatedAt=1669345191785" alt="">
                </div>
                
              </div>
            </div>
          </div>




        <h4 class="sub">Alpha: 0.01   <br>     Iterations:1500 <br>Test Size:0.6</h4>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/2022-11-25_09.38.07.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669340308964" alt="">
        </div>
        <div class="container text-center">
            <div class="row">
              <div class="col-xl-6">
                <div class='codesnippet' >
                    <img src="https://ik.imagekit.io/xpxacmqcd/2022-11-25_10.37.50.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669343898795" alt="">
                </div>
              </div>
              <div class="col-xl-6">
                <div class='codesnippet' >
                    <img src="https://ik.imagekit.io/xpxacmqcd/2022-11-25_10.37.44.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669343898732" alt="">
                </div>
                
              </div>
            </div>
          </div>

        <h4 class="sub">Alpha: 0.01     <br>   Iterations:150 <br>Test Size:0.6</h4>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/2022-11-25_09.39.46.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669340409084" alt="">
        </div>
        <div class="container text-center">
            <div class="row">
              <div class="col-xl-6">
                <div class='codesnippet' >
                    <img src="https://ik.imagekit.io/xpxacmqcd/2022-11-25_10.39.56.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669344016204" alt="">
                </div>
              </div>
              <div class="col-xl-6">
                <div class='codesnippet' >
                    <img src="https://ik.imagekit.io/xpxacmqcd/2022-11-25_10.39.52.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669344016462" alt="">
                </div>
                
              </div>
            </div>
          </div>
        <h4 class="sub">Alpha: 0.1     <br>   Iterations:1500 <br>Test Size:0.6</h4>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/2022-11-25_09.41.13.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669340493716" alt="">
        </div>
        <div class="container text-center">
            <div class="row">
              <div class="col-xl-6">
                <div class='codesnippet' >
                    <img src="https://ik.imagekit.io/xpxacmqcd/2022-11-25_10.41.48.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669344130003" alt="">
                </div>
              </div>
              <div class="col-xl-6">
                <div class='codesnippet' >
                    <img src="https://ik.imagekit.io/xpxacmqcd/2022-11-25_10.41.41.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669344129938" alt="">
                </div>
                
              </div>
            </div>
          </div>
        <h4 class="sub">Alpha: 0.02     <br>   Iterations:1500 <br>Test Size:0.6</h4>
        <div class='codesnippet' >
            <img src="https://ik.imagekit.io/xpxacmqcd/2022-11-25_09.44.23.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669340682713" alt="">
        </div>
        <div class="container text-center">
            <div class="row">
              <div class="col-xl-6">
                <div class='codesnippet' >
                    <img src="https://ik.imagekit.io/xpxacmqcd/2022-11-25_10.46.02.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669344387015" alt="">
                </div>
              </div>
              <div class="col-xl-6">
                <div class='codesnippet' >
                    <img src="https://ik.imagekit.io/xpxacmqcd/2022-11-25_10.45.49.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669344386351" alt="">
                </div>
                
              </div>
            </div>
          </div>
          



        


          <h3 class="px-5 mt-0 divider"><b> Discussion and Analysis</b></h3>
          <p>
              After modelling the different variables (fertilizer consumption, mean temperature, total population, and crop land), we were able to see the linear relationship between the agricultural factors of production – land and labour – and the net production of crops in China and India. This model can help to predict the net crop production according to changes in these variables. We can conclude that with an increase in the predictor variables, the net production of crops will increase.
      
      As we can see from the above outputs , the model has coeffecient of determination between actual and predicted total crop production as 0.88 and 0.93 for the China and India model respectively.
      
      We can also observe that the mean square error is 0.0042285 and 0.1114 for India and China respectively . From this we can conclude that our ML model has high chance of predicting crop production output accurately .
      
      Our model has certain limitations. Firstly, there is a data limitation due to insufficient data available. Our model does not consider other predictor variables which may have a more significant impact on the production of crops. We were unable to find data on certain variables such as the amount of rainfall, and the amount of water used for irrigation.
      
      Secondly, our model cannot take in extreme values. For example, too high of a temperature will kill the crops as crops are unable to thrive in such conditions. If the total population is too high while the percentage of the agricultural workforce remains the same, overcrowding can happen which will eventually reduce the net crop production due to the limited land to work on.
            
    </p>



        <div id="resource">
            <h3>Files and Documentation</h3>
            <div class="container text-center">
                <div class="row">
                  <div class="col-lg-6">
                        <h4>Files</h4>
                        <ul class='nolistpt'>
                            <li><a href="https://drive.google.com/drive/folders/1I-9vLfSx5dykS6Wl5d2ZJ_y06zJzejzE">
                                Google Drive Link
                            </a>
                            </li>
                        </ul>
                    </div>
                  <div class="col-lg-6">
                    <h4>Refrences</h4>
                    <ul>
                        <li>
                            <a href="https://data-driven-world.github.io/notes/visualization#scatter-plot-and-line-plot">https://data-driven-world.github.io/notes/visualization#scatter-plot-and-line-plot</a>
                        </li>
                        <li>
                            <a href="https://data-driven-world.github.io/notes/working_with_data">https://data-driven-world.github.io/notes/working_with_data</a>
                        </li>
                        <li>
                            <a href="https://data-driven-world.github.io/notes/multiple_linear_regression">https://data-driven-world.github.io/notes/multiple_linear_regression</a>
                        </li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
    
    <%- include('minitemplates/footer.ejs')  %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html>