#readm{
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
    width: 150px;
    height: 50px;
    padding:20px;
    font-size:.9em;
    top:-1em;
    color:#e85a4f ;
    text-decoration: none;
    border: #e85a4f 1px solid;
    
    transition: 1s;
}
#readm:hover{
    background-color: #e85a4f ;
    color: #eae7dc;
    border-radius: 20px;
}
h2{
    position: relative;
    top:0em;
    margin-bottom: 1em;
}
#imgholder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#dd{
    position: relative;

    width: 1000px;
    height:500px;
    margin-bottom: 50px;
    margin-top: 50px;
}
#resource{
    position: relative;
    left: 20px;
    width: 99%;
    height:600px;
    background-color:#d8c3a5 ;
    color:#eae7dc;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border-radius: 40px;
    top: 10em;
}
#resource h3{
    margin-top: 40px;
    color: #eae7dc;
}
ul{
    text-align: start;
}
.inner{
    padding-top: 20px;
    margin-top: 100px;
}
.minigraph{
    width: 320px;
    height:240px
}
h4{
    margin: 30px;
    font-size: 1.5em;
    color:#eae7dc;
}
a{
    font-size: 1.2em;
    color:#eae7dc;
    text-decoration: none;
}


@media only screen and (max-width: 600px){
    /*Tablets [601px -> 1200px]*/
    #imgholder{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h3{
        margin: 0%; 
        padding: 0%;
    }
    #dd{
        left:6em;
        width: 500px;
        height: 300px;
    }
    .divider{
        width: 50%;
        margin: 0%;
        padding: 0%;
    }
    h2{
        font-size: 3em;
        padding:1em;
        margin: auto;
    }
    .inner{
        position: relative;
        top:-20em;
    }
    #readm{
        width: 10em;
        height:2.5em;
        padding:1.3em;
        font-size:1em;
        position: relative;
        top:0em;
    }
    .minigraph{
        width: 490px;
        height:340px;
        margin:10px
    }
    #resource{
        width: 80%;
        margin: auto;
    }
    #resource{
        font-size: .9em;
    }
}
@media only screen and (max-width: 380px){
	
    #imgholder{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h2{
        font-size: 2em;
        top:-2em;
    }
    #readm{
        width: 10em;
        height:2.5em;
        padding:1.3em;
        font-size:1em;
        top:2.5em
    }
    #resource{
        font-size: .8em;
        top:12em
    }
    .footer{
        top:14em;
        height: 18%;
    }
    .footer ul{
        left: 1em;
        align-items: flex-start;
        font-size: .76em;
    }
    
}