<h3 style="margin-left: 2em">Dependent Variable</h3>
<p>The dependent variable used is the total primary crop yield in tonnes per annum from 1961 to 2020 for India and China. Total primary crop yield is taken from FAOSTAT and consists of a compilation of the production quantities of cereals, fruits, roots and tubers, sugar crops, treenuts, fruits and vegetables. 
</p> 
<p>
<h3 style="margin-left: 2em">Independent Variable</h3>
<p>
After going through research process we simplified and combine variables into 4 variables: 
<ol style=" margin-left: 5em;color: #5b5b59; text-align: justify; position: relative; left: -2em">
    <li>Mean Annual Temperature – Too high of a temperature may cause droughts which will kill crops and reduce crop yield. </li>
    <li>Crop Land – The land size used to grow crops. </li>
    <li>Fertiliser Consumption – The addition of fertilizers compensates the deficiency of soil. This will affect the growth development of crops, thus affecting the crop yield. </li>
    <li>Total Population – The total population of China and India will be used to estimate the available workforce for the agricultural sector. </li>
    
</ol>
</p>
<p>
<h3 style="margin-left: 2em ;margin-bottom: 1em;">Global Assumptions</h3>
<p>Our assumptions are:</p>

<ol style=" margin-left: 5em;color: #5b5b59; text-align: justify; position: relative; left: -2em">
    <li>Countries are transparent about their data.</li>
    <li>Mean temperature identified are suitable for growing crops</li>
    <li>Fertilizers identified are for crops recorded in the net production</li>
    <li>All other factors of production are constant</li>
</ol>
</p>
</p>