<h3 style="margin-left: 2em">Dependent Variable</h3>
<p>The dependent variable used is the total primary crop yield in tonnes per annum from 1961 to 2020 for India and China. Total primary crop yield is taken from FAOSTAT and consists of a compilation of the production quantities of cereals, fruits, roots and tubers, sugar crops, treenuts, fruits and vegetables. 
</p> 
<p>
<h3 style="margin-left: 2em">Independent Variable</h3>
<p>
After going through research process we simplified and combine variables into 6 variables: 
<ol style=" margin-left: 5em;color: #5b5b59;">
    <li>Mean Annual Temperature – Too high of a temperature may cause droughts which will kill crops and reduce crop yield. </li>
    <li>Arable land – The amount of land that are used for growing crops. </li>
    <li>Fertiliser Consumption – The addition of fertilizers compensates the deficiency of soil. This will affect the growth development of crops, thus affecting the crop yield. </li>
    
</ol>
</p>